<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细消息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WEBSericesTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

    <applicationSettings>
        <WEBSericesTest.Properties.Settings>
            <setting name="WEBSericesTest_com_10628106_client_Service" serializeAs="String">
                <value>http://client.10628106.com:4804/Service.asmx</value>
            </setting>
            <setting name="WEBSericesTest_localhost_CaluteSevices" serializeAs="String">
                <value>http://localhost:1922/CaluteSevices.asmx</value>
            </setting>
        </WEBSericesTest.Properties.Settings>
    </applicationSettings>
</configuration>
